<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>About Us</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="page-content">
      <p>We, at AuRo, are a group of technocrats who are passionate about developing first autonomous car from India. The team is made up of researchers and engineers specializing in various aspects of field robotics such as environment perception, control systems, intelligent motion planners, multi-sensor integration, machine learning and image processing.</p>
      <p>The central ideology which binds us all together is to take robots to masses.  We started our journey in 2013, foundations for which were laid during our activities at Autonomous Ground Vehicle (AGV) research group at IIT Kharagpur.</p>
      <h3>Vision</h3>
      <p>To empower people with the help of robotics.</p>
      <h3>Mission</h3>
      <p>To build autonomous cars that can drive themselves better than human beings.</p>
      <h3>Purposes of Existence</h3>
      <p>We exist to target a much bigger cause than mere business opportunity. We exist to:</p>
      <ul>
        <li>Build a company where engineers can give their best as a team by constantly challenging their personal limits</li>
        <li>Advance mankind by pushing the very limits of technology and human creativity</li>
        <li>Consitently enjoy and nurture the feeling of fascination and awe that every engineer feels upon seeing his/her product being used by people</li>
      </ul>
      <h3>Culture</h3>
      <p>We do not follow a lifestyle anywhere close to that of a conventional corporate company. We live with close bonding and work with the intensity that is seen in a passionate college team or club. We believe that this core ideology is more important than product ideas.</p>
    </div>
  </div>
</div>

<br>
