<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Careers</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="page-content">
      <h2 class="text-center">A day at AuRo is unlike any other you’ve had</h2>
      <h3 class="text-center">You’ll be challenged. You’ll be inspired. And you’ll be proud.</h3>
    </div>
  </div>
</div>
