<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Current Domains And Focus Areas</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <div class="box-icon">
        <i class="glyphicon glyphicon-bell glyphicon-3x"></i>
      </div>
      <h4><strong>Computer Vision</strong></h4>
      <p>When coupled with the Aadhaar identity platform, payment services and financial inclusion can be achieved at scale. Khosla Labs is working on mobile solutions that make financial transactions possible anytime, anywhere.</p>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <div class="box-icon">
        <i class="glyphicon glyphicon-bell glyphicon-3x"></i>
      </div>
      <h4><strong>3D Environment Mapping</strong></h4>
      <p>When coupled with the Aadhaar identity platform, payment services and financial inclusion can be achieved at scale. Khosla Labs is working on mobile solutions that make financial transactions possible anytime, anywhere.</p>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <div class="box-icon">
        <i class="glyphicon glyphicon-bell glyphicon-3x"></i>
      </div>
      <h4><strong>Mobile Robot Navigation</strong></h4>
      <p>When coupled with the Aadhaar identity platform, payment services and financial inclusion can be achieved at scale. Khosla Labs is working on mobile solutions that make financial transactions possible anytime, anywhere.</p>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <div class="box-icon">
        <i class="glyphicon glyphicon-bell glyphicon-3x"></i>
      </div>
      <h4><strong>Control Systems</strong></h4>
      <p>When coupled with the Aadhaar identity platform, payment services and financial inclusion can be achieved at scale. Khosla Labs is working on mobile solutions that make financial transactions possible anytime, anywhere.</p>
    </div>
  </div>
</div>

<br>
