<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Current Domains And Focus Areas</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <h4><strong>Computer Vision</strong></h4>
      <p>We are working on path detection using imaging sensors which works well even under sharp shadows, irregular and/or obfuscated lane markings and road endings. Application includes dynamic object tracking and object recognition for autonomous navigation.</p>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <h4><strong>3D Environment Mapping</strong></h4>
      <p>We are working on 6D Simultaneous Localization and Mapping technique to generate millimeter level accurate 3D maps for mining companies and archeological sites for virtual tours. It reduces time and cost for generating maps while improving accuracy of the 3D generated maps.</p>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <h4><strong>Mobile Robot Navigation</strong></h4>
      <p>
        Mobile robot navigation is a technology developed at <strong>AuRoLabs™</strong> for providing vehicle orientation and positioning employing multi-sensor integration. Application includes intelligent motion planning and path planning for autonomous ground vehicles.</p>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <h4><strong>Control Systems</strong></h4>
      <p>We are working on remote control for vehicle actuators such as steering, brake and accelerators in cars and heading and velocity control in outdoor and/or indoor vehicles. Application includes developing drive-by-wire vehicle with closed loop feedback control mechanism.</p>
    </div>
  </div>
</div>

<br>
