<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Lab</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="page-content">
      <p>We, at <strong>AuRoLabs™</strong>, are developing several key component technologies to accelerate the process of indigenous autonomous car development. These technologies have been tested in our earlier projects and are continously being improved upon to keep them updated with the industry standards and ahead of the competition. This includes, but is not limited to, the following system and technologies:</p><br>
      <ol>
        <li><strong>Computer Vision</strong>
          <ul>
            <li>Drivable path detection technique using imaging sensors that works well even under sharp shadows, and with irregular and/or obfuscated lane markings and road endings</li>
            <li>Generating dense 3D Point Cloud of surroundings using fusion of 2D ranging and imaging sensors</li>
            <li>Object detection and its motion parameter extraction techniques using single and combination of ranging and imaging sensors</li>
            <li>Dynamic object tracking and object recognition using monocular imaging sensor</li>
          </ul>
        </li><br>
        <li><strong>3D Environment Mapping</strong>
          <ul>
            <li>Real time 3D environment mapping using 6D Simultaneous Localization and Mapping (SLAM) technique from a mobile platform</li>
            <li>Millimetre-accurate 3D environment mapping using Terrestrial Laser Scanners</li>
            <li>3D Mobile Mapping System, comprising of array of ranging, imaging, navigation and orientation sensors for real time collection of geospatial data and generating georeferenced digital maps</li>
            <li>3D environment ranging and mapping by means of a single 2D ranging sensor</li>
          </ul>
        </li><br>
        <li><strong>Mobile Robot Navigation</strong>
          <ul>
            <li>Vehicle positioning and orientation system employing multi-sensor integration of inertial sensors, Global Positioning System (GPS) receivers and distance measurement instruments</li>
            <li>GPS waypoints tracking and navigation from one geolocation to another with sub-meter accuracy</li>
            <li>Intelligent motion planner and path planning algorithms for autonomous ground vehicles</li>
            <li>Navigation in GPS denied areas such as indoor environment, underground mines and remote locations using integration of  inertial sensors and wheel encoders</li>
          </ul>
        </li><br>
        <li><strong>Control Systems</strong>
          <ul>
            <li>Proportional-Integral-Derivative controller (PID) for 4-wheel drive robots and car-type drive vehicles</li>
            <li>Conversion of a IC engine driven vehicle into a drive-by-wire vehicle with closed loop feedback control mechanism</li>
            <li>Remote control of vehicle actuators such as steering, brake and accelerators in cars, and for heading and velocity control in outdoor & indoor robots</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>

<br>
