<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Product</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="page-content">
      <p><strong>AuRoNav™</strong> is a result of our years of work. It is a customizable set of software modules which can be combined together in various configurations to achieve any desired level of autonomy in a vehicle. The architecture behind AuRoNav™ consists of five layers corresponding to the following functions:</p>
      <ol>
        <li>Sensor Interface</li>
        <li>Environment Perception</li>
        <li>Path Planning</li>
        <li>Vehicle Control</li>
        <li>User Interface</li>
      </ol>
      <p>This modular architecture provides the foundation for integrating different algorithms and hardware sensors for autonomous vehicle control. Each layers comprises of multiple components each of which are assembled to meet customer specific requirements. The following figure shows AuRoNav™ five-layered system architecture along with its component modules.</p>
    </div>
  </div>
</div>
