<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Projects</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <h4><strong>Driverless Shuttle Service &#42;</strong></h4>
      <p>The driverless shuttle service is intended to transport people autonomously in a closed loop campus environment with a hop-on, hop-off model.</p>
      <%= video_tag("driverless_shuttle_service.mp4", size: "426x240", controls: true, autobuffer: true) %>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <h4><strong>3D Mobile Mapping System &#42;</strong></h4>
      <p>The 3D mobile mapping system generates GIS grade digital 3D maps of the environment in real time from system mounted on a moving vehicle.</p>
      <%= video_tag("3d_mobile_mapping_system.mp4", size: "426x240", controls: true, autobuffer: true) %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="content-box">
      <h4><strong>Autonomous Robotics Platform</strong></h4>
      <p>ARP is a hardware-cum-software robotic platform for researchers and developers working in the field of autonomous ground vehicle.</p>
      <%= video_tag("autonomous_robotics_platform.mp4", size: "426x240", controls: true, autobuffer: true) %>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content-box">
      <h4><strong>Surveying &#38; Mapping of Mines</strong></h4>
      <p>It generates 3D maps of underground mines - reducing operations cost and the danger involved in exploring abandoned or unexplored mines.</p>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <p class="text-muted"><strong>&#42;</strong> In progress. Rest completed.</p>
  </div>
</div>

